@import url(https://use.fontawesome.com/releases/v5.0.6/css/all.css);

#home {
    --first-color: brown;
    --second-color: tomato;
    --light-gray: lightgray;
}

#next {
    --first-color: #674ea7  ;
    --second-color: deepskyblue;
    --light-gray: lightgray;
}

#skill {
    --first-color: #356422  ;
    --second-color: rgb(26, 95, 63);
    --light-gray: lightgray;
}

html, body {
    padding: 0;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
    color: var(--first-color);
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
}

body {
    display: flex;
}

.wrap {
    left: 280px;
}

#offcanvas-left,
#offcanvas-right {
    flex: 0 0 280px;
    background-color: #111;
    color: white;
    transition-duration: .5s;
}

    #offcanvas-left.hide {
        margin-left: -280px;
    }

    #offcanvas-right.hide {
        margin-right: -280px;
    }

.togglebar {
    background-color: #232323;
    flex: 0 0;
    min-width: 50px;
    max-width: 5px;
}

.toggle i {
    height: 80px;
    font-size: 1.4em;
    width: 100%;
    color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

    .toggle i:hover {
        color: var(--second-color);
    }

.center {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-width: 95%;
}

    .center header {
        background-color: var(--first-color);
        color: white;
    }

header {
    background-color: blueviolet;
    flex: 0 0 40px;
    color: white;
    /* justify-content: center; */
    padding: 20px;
}

    header nav {
        background-color: transparent;
    }

        header nav ul {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        header nav a {
            color: white;
            text-decoration: none;
            font-size: 12px;
        }

.center header nav a:hover {
    text-decoration: underline
}

nav {
    background-color: #f0f0f0;
}

    nav ul {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-around;
    }

        nav ul li {
            list-style-type: none;
            padding-left: 0;
            margin-left: 0;
            display: inline-flex;
            padding: 10px;
        }

    nav a {
        text-decoration: none;
    }

        nav a:hover {
            text-decoration: underline;
        }

.center section {
    flex: 1 1 auto;
    overflow-y: auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

figure.hero {
    position: relative;
    height: 0;
    padding-left: 0;
    padding-bottom: 35%;
    overflow: hidden;
    margin: 0;
}

    figure.hero img {
        -webkit-filter: blur(3px);
        filter: blur(1px);
        transform: scale(1.03);
    }

    figure.hero figcaption {
        position: absolute;
        font-style: oblique;
        padding: 0;
        margin: 0;
        left: 0;
        top: 50%;
        color: white;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        background-color: rgba(0,0,0,.6);
        padding: 20px 0;
    }

        figure.hero figcaption * {
            font-weight: bold;
            font-size: 1.4em;
            text-transform: uppercase;
            color: white;
            margin: 0;
            padding: 0;
        }

#offcanvas-left ul,
#offcanvas-right ul {
    padding: 0
}

    #offcanvas-left ul li,
    #offcanvas-right ul li {
        color: white;
        list-style-type: none;
        padding-left: 0;
        margin-left: 0;
        padding: 10px;
        border-bottom: 1px solid #222
    }

#offcanvas-left a,
#offcanvas-right a {
    color: white;
    text-decoration: none;
}

#offcanvas-left li:hover a,
#offcanvas-right li:hover a {
    color: var(--first-color);
}


footer {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    grid-column-gap: 20px;
    background-color: var(--second-color);
    flex: 0 0 80px;
    flex-direction: row;
    padding: 40px 0px;
    /* min-height: 80px; */
}

    footer section:first-child {
        grid-column: 2;
    }

.no-style li {
    list-style-type: none;
}

.no-style ul {
    margin-top: 0;
    padding: 0;
}

.no-style b {
    margin-bottom: 0;
    padding: 0;
}

.no-style address {
    font-style: normal;
}

form {
    /* width: 100%; */
    background-color: white;
    padding: 20px;
    /* display: flex; */
    /* flex-direction: row; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    /* max-width: 425px; */
    /* width: 100%; */
    /* padding: 20px 20px; */
}

    form input, textarea {
        margin: 10px 0;
        border: 0;
        background-color: lightgray;
        border-radius: 5px;
        padding: 10px;
    }

        form input[type=submit] {
            /* width: 100%; */
            background-color: var(--first-color);
        }

    form textarea {
        min-height: 60px;
        max-height: 100px;
        resize: vertical;
    }

main {
    min-height: 500px;
}

article {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-column-gap: 20px;
    padding-bottom: 100px;
}

    article > * {
        grid-column: 2;
        min-width: 0;
    }

    article > figure {
        grid-column: 1 / -1;
        margin-bottom: 20px;
    }

    article > aside {
        grid-column: 3;
        color: #666;
        font-size: 0.8em;
        padding-right: 20px;
    }

    article > blockquote {
        grid-column: 2 / -2;
        margin: 10px 0;
        color: #888;
        font-size: 1.2em;
        line-height: 1.4em;
        border-left: 10px solid #f0f0f0;
        padding-left: 10px;
        margin-left: -20px;
    }


/* Table styles */

table.styled {
    width: 100%;
    border-collapse: collapse;
}

    table.styled thead, table.styled th {
        background-color: #dfdfdf;
    }

    table.styled thead, table.styled th {
        text-align: center;
    }

    table.styled th, table.styled td {
        border: 1px solid lightgray;
        padding: 5px;
    }

footer table.styled th {
    background: none;
    text-align: left;
}

footer table.styled th, footer table.styled td {
    border: 0;
}



p mark {
    background-color: var(--first-color);
    padding: 0 5px;
    color: white;
    font-weight: normal;
}

hr {
    background-color: var(--first-color);
    height: 2px;
    width: 100%;
    border: 0;
}
/* General styling */


img {
    width: 100%;
}

.line-numbers a {
    text-decoration: none;
    color: #000;
    padding-right: 1em;
}

code {
    background: #eee;
    padding: 2px 5px;
}

pre {
    background: #eee;
    padding: 10px 15px;
    overflow: auto;
}

    pre > code {
        padding: 0;
    }

.responsive-vid {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

    .responsive-vid iframe,
    .responsive-vid video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
